
.notification-overlay {
  display: none;
  position: fixed;
  top: 5px;
  right: 0;
  width: 30%;
  height: 10%;
  box-shadow: -2px 2px 5px;
  border-radius: 10px 0 0 10px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#notification-overlay-visible {
  display: flex;
}


